<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag(cocktail.photo.key)  %>
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <p><%= cocktail.ingredients.map(&:name).to_sentence %></p>
          <%= link_to "Recipe", cocktail_path(cocktail), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
